//COLOR PALLETTE
$accent-color: #4570e9;
//NAV BAR
$nav-bar-color: white;
$nav-bar-bg: rgba(0,0,0,0.75);
$nav-bar-height: 75px;

//HOME
$home-bg-image: url('/assets/city.gif');
$home-smoke-screen:rgba(0,0,0,0.5);
$home-title-size: 96px;
$home-title-color: white;
$home-subtitle-size: 24px;
$home-subtitle-color: #FAFAFA;
$home-cta-bg: $accent-color;
$home-cta-color: white;
